@import '~include-media/dist/include-media';


*::-webkit-scrollbar {
	display: none;
}

.portfolio_container .fp-overflow {
    overflow-x: hidden;
}

/*=========================================================
    skill 컨테이너 정의
=========================================================*/
.portfolio_container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #f5f5f5 50%, #f0f0f0 50%);
}


.bg_box {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #f5f5f5 50%, #f0f0f0 50%);
}

.portfolioContant_inner {
    width: 100%;
    margin: 0 auto;
    position: relative;

    // padding-top:100px;
}


/*=========================================================
    slier 공통 정의
=========================================================*/
.sider_box {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}


/*=========================================================
    slier 왼쪽 정의
=========================================================*/
.slider_left {
    width: calc(50% - 100px);
    position: relative;
    padding-left: 14.9%;
}


/*=========================================================
    서브 타이틀 정의
=========================================================*/
.slider_sub {
    font-size: 20px;
    letter-spacing: 0.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #121111;
    color: #000;
    font-family: 'Chosunilbo_myungjo';
    font-weight: 600;
}


/*=========================================================
    프로젝트 간단 설명
=========================================================*/
.slider_detail {
    font-size: 30px;
    line-height: 1.8;
    font-family: 'Chosunilbo_myungjo';
    font-weight: 500;
    // margin: 10px 0 50px;
    margin: 10px 0 30px;
}


/*=========================================================
    프로젝트명 정의
=========================================================*/
.slider_title {
    font-size: 5.5rem;
    font-family: 'Tenada';
    line-height: 1.2;
    color: #000;
    letter-spacing: -0.03rem;
}


/*=========================================================
    프로젝트명 기술명 정의
=========================================================*/
.slider_tec {
    display: flex;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.tec_0 {
    background: rgb(227, 226, 224);
    font-family: 'Chosunilbo_myungjo';
    padding: 2px 5px;
}

.tec_1 {
    background: rgb(250, 222, 201);
    font-family: 'Chosunilbo_myungjo';
    padding: 2px 5px;
}

.tec_2 {
    background: rgb(253, 236, 200);
    font-family: 'Chosunilbo_myungjo';
    padding: 2px 5px;
}

.tec_3 {
    background: rgb(211, 229, 239);
    font-family: 'Chosunilbo_myungjo';
    padding: 2px 5px;
}

.tec_4 {
    background: rgb(219, 237, 219);
    font-family: 'Chosunilbo_myungjo';
    padding: 2px 5px;
}

.tec_5 {
    background: rgb(232, 222, 238);
    font-family: 'Chosunilbo_myungjo';
    padding: 2px 5px;
}

.tec_6 {
    background: rgb(245, 224, 233);
    font-family: 'Chosunilbo_myungjo';
    padding: 2px 5px;
}

.tec_7 {
    background: rgb(211, 229, 239);
    font-family: 'Chosunilbo_myungjo';
    padding: 2px 5px;
}

.tec_8 {
    background: rgb(253, 236, 200);
    font-family: 'Chosunilbo_myungjo';
    padding: 2px 5px;
}


/*=========================================================
    프로젝트명 담당 업무 정의
=========================================================*/
.slider_my_t {
    font-size: 20px;
    line-height: 1.4;
    font-family: 'Chosunilbo_myungjo';
    color: #9e9e9e;
}


/*=========================================================
    프로젝트명 버튼 링크 정의
=========================================================*/
.slder_link {
    display: flex;
    gap: 20px;
}

.site_box, .notion_box, .git_box {
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
    font-family: 'Chosunilbo_myungjo';
    padding: 15px 25px;
    border: 1px solid #ddd;
    text-align: center;
}

.slick-slide img {
    display: inline-block !important;
}


// 사이트 버튼 정의
.site_box a {
    display: flex;
    align-items: center;
    background: url(./img/site_icon.png) no-repeat;
    background-size: 20%;
    background-position: left;
    height: 30px;
}

.site_text {
    margin-left: 30px;
    font-family: 'Chosunilbo_myungjo';
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

//  사이트 버튼 호버 정의
.site_box:hover {
    border: 1px solid #000;
    background: #000;
}

.site_box:hover a {
    background: url(./img/site_icon_w.png) no-repeat;
    background-size: 20%;
    background-position: left;
}

.site_box:hover .site_text {
    color: #fff;
}



//  노션 버튼 정의
.notion_box a {
    display: flex;
    align-items: center;
    background: url(./img/notion_icon.png) no-repeat;
    background-size: 20%;
    background-position: left;
    height: 30px;
}

.notion_text {
    margin-left: 30px;
    font-family: 'Chosunilbo_myungjo';
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

//  노션 버튼 호버 정의
.notion_box:hover {
    border: 1px solid #000;
    background: #000;
}

.notion_box:hover a {
    background: url(./img/notion_icon_w.png) no-repeat;
    background-size: 20%;
    background-position: left;
}

.notion_box:hover .notion_text {
    color: #fff;
}


//  깃헙 버튼 정의
.git_box a {
    display: flex;
    align-items: center;
    background: url(./img/git_icon.png) no-repeat;
    background-size: 20%;
    background-position: left;
    height: 30px;
}

.git_text {
    margin-left: 30px;
    font-family: 'Chosunilbo_myungjo';
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

//  깃헙 버튼 호버 정의
.git_box:hover {
    border: 1px solid #000;
    background: #000;
}

.git_box:hover a {
    background: url(./img/git_icon_w.png) no-repeat;
    background-size: 20%;
    background-position: left;
}

.git_box:hover .git_text {
    color: #fff;
}


/*=========================================================
    slider 오른쪽 정의
=========================================================*/
.slider_right {
    width: calc(50% - 50px);
    padding-right: 14.3%;
}

.mokup_box {
    text-align: right;
}

.mokup_img {
    width: 95%;
}


/*=========================================================
    slide 페이지 도달 시 텍스트 애니메이션 정의
=========================================================*/
.slider_left {
    opacity: 0;
    position: relative;
    left: -400px;
    transition: .8s;
}

.slider_left.active_slider_l {
    opacity: 1;
    position: relative;
    left: 0;
    transition-delay: 0.35s;
}




/*=========================================================
    slide 페이지 도달 시 이미지 애니메이션 정의
=========================================================*/
.slider_right {
    opacity: 0;
    position: relative;
    right: -300px;
    transition: .8s;
}

.slider_right.active_slider_r {
    opacity: 1;
    position: relative;
    right: 0;
    transition-delay: 0.35s;
}



/*=========================================================
    slide dot 페이지 도달 시 애니메이션 정의
=========================================================*/
.slick-dots {
    opacity: 0;
    position: relative;
    bottom: -150px;
    left: 0 !important;
    transition: .8s;
    margin-top: 2% !important;
}

.slick-dots.dot_animation {
    opacity: 1;
    position: relative;
    bottom: 0;
    transition-delay: 0.6s;
}


/*=========================================================
    보안 문자 정의
=========================================================*/
.security-notice{
    font-size:14px;
    display: block;
    color:#e00012;
    font-family: 'Chosunilbo_myungjo';
    font-weight: 600;
    margin-top:5px;
}



/*=========================================================
    반응형 기준점 정의
    2001, 1801, 1441, 1281, 1251, 1101, 
    1025, 1001, 769, 701, 545, 501
=========================================================*/
@include media('<2001px') {
    .portfolioContant_inner {
        width: 100%;
        margin-top: 0;
        height:calc(100vh - 350px);
    }


    // 왼족 슬라이드 애니메이션 정의
    .slider_left {
        left: -200px;
        transition: .8s;
        padding-left: 8.6%;
    }


    // 오른쪽 슬라이드 애니메이션 정의
    .slider_right {
        right: -200px;
        transition: .8s;
        padding-right: 8%;
    }

    .slider_detail {
        font-size: 27px;
    }

    // 추가
    .slider_my_t {
        font-size: 18px;
    }

    .slider_sub {
        padding-bottom: 1.2rem;
    }

    .slider_title {
        font-size: 5rem;
    }

    .slider_detail {
        font-size: 24px;
    }
}


@include media('<1801px') {
    .slider_left {
        padding-left: 11.3%;
    }

    .slider_title {
        font-size: 4.5rem;
    }

    .slider_left {
        padding-left: 11.3%;
    }

    .slider_right {
        padding-right: 10.6%;
    }

    .slider_detail {
        font-size: 22px;
    }

    .mokup_img {
        width: 100%;
    }
}


@include media('<1441px') {
    .portfolioContant_inner{
        height:calc(100vh - 450px);
    }

    .slider_sub {
        font-size: 18px;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
    }

    .slider_title {
        font-size: 3.5rem;
    }

    .slider_my_t {
        font-size: 16px;
    }

    .slider_detail {
        font-size: 18px;
        margin-bottom: 30px;
    }

    // 버튼 관련 정의
    .site_box, .notion_box, .git_box {
        padding: 10px;
    }

    .site_text, .notion_text, .git_text {
        font-size: 12px;
    }

    .slick-dots {
        margin-top: 2% !important;
    }
}


@include media('<1281px'){
    .portfolioContant_inner{
        height:calc(100vh - 250px);
    }

    .sider_box{
        height:80vh;
    }

    .slick-dots{
        animation: none;
        transition: none;
        margin-top:0 !important;
    }

    .slder_link{
        gap:10px;
    }

}


@include media('<1251px') {
    .slider_tec {
        font-size: 12px;
    }

    .slider_title {
        font-size: 3rem;
    }

    .slider_my_t {
        font-size: 12px;
    }

    .slider_detail {
        font-size: 16px;
    }

    .site_text, .notion_text, .git_text {
        font-size: 10px;
    }
}


@include media('<1101px') {
    .slider_left {
        width: calc(50% - 50px);
    }

    .slider_right {
        width: calc(50% - 40px);
    }

    .slider_detail {
        font-size: 14px;
    }

    .site_text, .notion_text, .git_text {
        margin-left: 20px;
    }

    .site_box:hover a, .notion_box:hover a, .git_box:hover a {
        background-size: 15%;
    }
}


@include media('<1025px') {
    .site_box, .notion_box, .git_box {
        padding: 5px;
    }
}


@include media('<1001px') {
    .portfolioContant_inner {
        width: 74%;
    }    

    .slider_left{
        padding-left:0;
    }

    .slider_right{
        padding-right:0;
    }
}


@include media('<901px') {
    .portfolioContant_inner {
        width: 90%;
        margin-top:0;
        height: calc(100vh - 160px);

        padding-top:0;
    }

    .bg_box{
        height:auto;
    }

    // 원페이지 앵커 정의
    #fp-nav.fp-right {
        right: 9px;
    }

    // 애니메이션 No
    .sider_box {
        flex-direction: column-reverse;
    }

    .slider_left {
        opacity: 1;
        left: 0;
        padding-left: 0;
        width: 65%;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .slider_right {
        opacity: 1;
        right: 0;
        padding-right: 0;
        width:65%;
        transition: none;
    }

    .site_box, .notion_box, .git_box {
        padding: 10px 20px;
    }

    .slider_detail {
        font-size: 18px;
    }

    .slider_my_t {
        font-size: 14px;
    }

    .security-notice{
        font-size:12px;
    }

    .slick-dots {
        transition: none;
        opacity: 1;
        margin-top: 0 !important;
    }

    // 추가 
    .mokup_box {
        text-align: center;
    }

    .sider_box{
        height:auto;
    }
}


@include media('<769px'){
    #fp-nav.fp-right{
        right:5px !important;
    }

    .slider_tec{
        font-size:10px;
    }
}


@include media('<701px'){
    .slider_left, .slider_right{
        width:90%;
    }

    .slider_left{
        margin-bottom:30px;
        // margin-bottom:10px;
    }
}


@include media('<545px') {
    #fp-nav.fp-right {
        right: 0;
    }

    .bg_box{
        height:100vh;
    }
}


@include media('<501px') {
    .portfolioContant_inner{
        height:calc(100vh - 170px);
    }

    .slider_left, .slider_right{
        width:95%;
    }

    .slider_left{
        margin-bottom:0;
    }

    .slider_sub {
        font-size: 16px;
    }

    .slider_my_t {
        font-size: 12px;
    }

    .slider_detail {
        font-size: 14px;
    }

    #fp-nav.fp-right {
        right: 2px !important;
    }

    .site_box, .notion_box, .git_box {
        padding: 5px 10px;
    }

    .slick-dots{
        margin-top:0 !important;
    }
}


@include media('<361px') {
    .portfolioContant_inner{
        height:calc(100vh - 140px);        
    }

    .slider_title{
        font-size:2rem;
        margin-bottom:10px;
    }

    .git_text, .notion_text, .site_text{
        letter-spacing: -1px;
    }

    .slder_link{
        margin-bottom:15px;
    }
}